/*Google Fonts imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
a{
    text-decoration: none;
}
.home{
    height: 250em;
    display: flex;
    flex-direction: column;
}
.search-bar{
    margin-top: 5em;
    width: 80%;
    height: 7em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}
input{
    padding: 10px 20px 10px 0px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #d9d8e3;
    font-size: 2.5em;
    background: transparent;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.search-bar-span{
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    z-index: -1;
}
.product-section-tag{
    width: 80%;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 1.5em;
    font-weight: bold;
}
.tag-show-all a{
    color: #bdbccc !important;
}
.product-list{
    width: 80%;
    height: 40em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 0em 2em 0em;
    overflow: auto;
}
.product-list-item{
    cursor: pointer;
    padding: 30px 5px 30px 5px;
    width: 20em;
    height: 30em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.product-list-item img{
    width: 70%;
    height: 40%;
}
.product-list-item-name{
    padding: 10px 0px 10px 0px;
    width: 80%;
    height: 15%;
    font-size: 2.2em;
    color: #FFF;
}
.product-list-item-desc{
    padding: 10px 0px 10px 0px;
    width: 80%;
    height: 25%;
    font-size: 1.2em;
    color: #FFF;
    border-bottom: 1px solid #FFF;
}
.product-list-item-price{
    padding: 50px 0px 10px 0px;
    width: 80%;
    height: 20%;
    font-size: 1.5em;
    font-weight: bold;
    color: #FFF;
    text-align: right;
}