.img-magnifier-glass {
    position: absolute;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: none;
    width: 100px;
    height: 100px;
  }

.product{
    height: auto;
    display: flex;
    flex-direction: column;
}
.general-info{
    height: 50em;
    padding: 2em 5em 2em 5em;
    display: flex;
    justify-content: space-between;
}
.general-info .product-image{
    width: 40%;
    height: 100%;
    position: relative;
}
.general-info .product-image img{
    width: 100%;
    height: 100%;
}
.general-info .product-general-information{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4em 2em 0 2em;
}
.general-info .product-general-information .product-name{
    width: 100%;
    font-size: 2.3em;
}
.general-info .product-general-information .product-price{
    font-size: 3em;
    width: 70%;
    font-weight: 600;
    color: #bb2b4f;
}
.general-info .product-general-information .sold-stock{
    width: 70%;
    padding: 1em 0 1em 0;
    color: #767676;
}
.general-info .product-general-information .icons-group{
    height: 20em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}
.general-info .product-general-information .icons-group .item{
    display: flex;
    align-items: center;
    height: 5em;
    width: 100%;
}
.general-info .product-general-information .icons-group .item .icon{
    width: 2em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.general-info .product-general-information .icons-group .item .icon i{
    font-size: 1.8em;
    color: #767676;
}
.general-info .product-general-information .icons-group .item .description{
    width: 50%;
    padding: 0em 1em 0 1em;
    color: #222;
}
.general-info .product-general-information .icons-group .more-about{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.5em;
    color: #bb2b4f;
    font-weight: 800;
    cursor: pointer;
}
.general-info .product-general-information .icons-group .more-about i{
    margin-left: 0.3em;
}
.general-info .product-general-information .quantity-input{
    width: 40%;
    height: 4em;
    border: rgb(161, 161, 161) 1px solid;
    margin-top: 1em;
    display: flex;
}
.general-info .product-general-information .quantity-input .plus{
    width: 20%;
    height: 100%;
    border-right:rgb(161, 161, 161) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}
.general-info .product-general-information .quantity-input .quantity{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    height: 100%;
}
.general-info .product-general-information .quantity-input .minus{
    width: 20%;
    height: 100%;
    border-left:rgb(161, 161, 161) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}
.off{
    color:rgb(201, 201, 201)
}
.general-info .product-general-information .buy-product-button{
    width: 70%;
    margin-top: 2em;
    height: 3em;
    background: #bb2b4f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: bold;
    font-size: 1.8em;
}
.general-info .product-general-information .buy-product-button:hover{
    cursor: pointer;
}
.details{
    min-height: 40em;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 5em 2em 5em;
}
.details .product-detailed-description{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding: 2em 2em 2em 2em;
}
.details .product-detailed-description .image-group{
    position: relative;
    height: 20em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.details .product-detailed-description .image-group img{
    width: 14em;
    height: 14em;
}
.details .product-detailed-description b{
    font-size: 1.3em;
    border-bottom: solid 1px #222;
}
.details .product-detailed-description p{
    padding: 1em;
}
.details .product-details-group{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    padding: 2em 2em 2em 2em;
}
.details .product-details-group p{
    margin-top: 0.5em;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    padding: 0.3em 0 0.3em 0;
}
.details .product-details-group .detail-title{
    font-size: 1.3em;
    border-bottom: solid 1px #222;
}
.details .product-details-group .localization{
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: column;
    padding: 2em 0em 1em 0em;
}
.details .product-details-group .localization .title{
    font-weight: bold;
    height: 20%;
    width: 100%;
    font-size: 1.3em;
    border-bottom: 1px solid #222;
}
.details .product-details-group .localization .information{
    height: 80%;
    width: 100%;
    display: flex;
    padding-top: 1em;
}
.details .product-details-group .localization .information .location-name{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1em;
}
.details .product-details-group .localization .information .location-name i{
    font-size: 1.5em;
}
.details .product-details-group .localization .information .graphic{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
}
.details .product-details-group .localization .information .graphic img{
    width: 80%;
    height: 10em;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 24px 7px rgba(0,0,0,0.23); 
    box-shadow: 0px 0px 24px 7px rgba(0,0,0,0.23);
}
.details .detail{
    height: 2em;
    width: 30em;
    background: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seller{
    height: 35em;
    background: #CCC;
    padding: 2em 5em 2em 5em;
    display: flex;
    justify-content: space-between;
}
.seller-avatar{
    width: 30%;
    height: 100%;
    background: rgb(161, 161, 161);
    border-radius: 50%;
}
.seller-info{
    width: 60%;
    height: 100%;
    background: rgb(161, 161, 161);

}