@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

.img-magnifier-glass {
  position: absolute;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}

.product {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 53px 20px 53px;
  overflow: hidden;
}
.general-info {
  height: auto;
  display: flex;
  justify-content: space-between;
}
.general-info .product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  position: relative;
}
.general-info .product-image img {
  max-width: 600px;
  max-height: 600px;
}
.general-info .product-general-information {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 4em 2em 0 2em;
}
.general-info .product-general-information .product-name {
  width: 100%;
  font-size: 1.6em;
  display: flex;
  justify-content: space-between;
}
.general-info .product-general-information .product-name .product-state {
  color: #6fb680;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  box-shadow: 1px -1px 9px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -1px 9px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 9px -3px rgba(0, 0, 0, 0.75);
}
.general-info .product-general-information .product-price {
  font-size: 2.6vw;
  width: 70%;
  font-weight: 600;
  color: #bb2b4f;
}
.general-info .product-general-information .sold-stock {
  width: 70%;
  padding: 1em 0 1em 0;
  color: #767676;
}
.general-info .product-general-information .icons-group {
  height: 15em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}
.general-info .product-general-information .icons-group .item {
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  height: 30%;
  width: 100%;
}
.general-info .product-general-information .icons-group .item .icon {
  width: 2em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.general-info .product-general-information .icons-group .item .icon i {
  font-size: 1.8em;
  color: #cf4e6c;
}
.general-info .product-general-information .icons-group .item .description {
  width: 80%;
  padding: 0em 1em 0 1em;
  color: #222;
}
.general-info .product-general-information .icons-group .more-about {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5em;
  color: #bb2b4f;
  font-weight: 800;
  cursor: pointer;
}
.general-info .product-general-information .icons-group .more-about i {
  margin-left: 0.3em;
}
.general-info .product-general-information .quantity-input {
  width: 60%;
  height: 4em;
  border: rgb(161, 161, 161) 1px solid;
  margin-top: 1em;
  display: flex;
}
.general-info .product-general-information .quantity-input .plus {
  width: 20%;
  height: 100%;
  border-left: rgb(161, 161, 161) 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}
.general-info .product-general-information .quantity-input .quantity {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 100%;
}
.general-info .product-general-information .quantity-input .minus {
  width: 20%;
  height: 100%;
  border-right: rgb(161, 161, 161) 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}
.off {
  color: rgb(201, 201, 201);
}
.general-info .product-general-information .buy-product-button {
  width: 70%;
  margin-top: 2em;
  height: 3em;
  background: #cf4e6c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.8em;
}
.general-info .product-general-information .buy-product-button:hover {
  cursor: pointer;
}
.details {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0 40px 0;
}
.details .product-detailed-description {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding: 2em 2em 2em 2em;
}
.details .product-detailed-description .image-group {
  position: relative;
  height: 30em;
  width: 100%;
}
.details .product-detailed-description .image-group img {
  height: 27em;
}
.details .product-detailed-description b {
  font-size: 2.5vw;
  border-bottom: solid 1px #222;
}
.details .product-detailed-description p {
  padding: 1em;
  border-bottom: solid 1px #222;
  font-size: 1.1vw;
  line-height: 1.3vw;
}
.details .product-details-group {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 70%;
  padding: 2em 2em 2em 2em;
}
.details .product-details-group p {
  margin-top: 0.5em;
  padding: 0.3em 0 0.3em 0;
}
.details .product-details-group .detail-title {
  font-size: 2.5vw;
  border-bottom: solid 1px #222;
}
.details .product-details-group .tags {
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: column;
  padding: 2em 0em 1em 0em;
}
.details .product-details-group .tags .title {
  font-weight: bold;
  height: 50%;
  width: 100%;
  font-size: 2.5vw;
  border-bottom: 1px solid #222;
}
.details .product-details-group .tags .tags-group {
  height: 80%;
  width: 100%;
  display: flex;
  padding-top: 1em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.details .product-details-group .tags .tags-group .tag {
  width: 100px;
  height: 30px;
  background-color: #cf4e6c;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details .detail {
  height: 2em;
  width: 30em;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller {
  height: auto;
  min-height: 45em;
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1vw;
}
.seller .avatar {
  width: 300px;
  height: 300px;
}
.seller .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 1px -1px 9px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -1px 9px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 9px -3px rgba(0, 0, 0, 0.75);
}
.seller .seller-name {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.6vw;
  color: #cf4e6c;
}
.seller .seller-information {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px 20px 100px;
}
.seller .seller-information .account-information {
  width: 30%;
  height: 100%;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 70px 0 70px;
}
.seller .seller-information .account-information i {
  font-size: 1.6vw;
  color: #303744;
}
.account-activity {
  display: flex;
  justify-content: space-between;
}
.main-color {
  color: #cf4e6c;
}
.gray-color {
  color: #71848d;
}
.seller .seller-information .account-information .name {
  font-weight: bold;
  color: #cf4e6c;
  font-size: 2vw;
}
.seller .seller-information .personal-information {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 50px 10px 50px;
}
.seller .seller-information .personal-information .personal {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.seller .seller-information .personal-information .personal .data {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.seller .seller-information .personal-information .personal .data .key {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.seller .seller-information .personal-information .personal .data .value {
  width: 70%;
  justify-content: flex-start;
  align-items: center;
}
.seller .seller-information .personal-information .contact {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.seller .seller-information .personal-information .contact .data {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.seller .seller-information .personal-information .contact .data .key {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.seller .seller-information .personal-information .contact .data .value {
  width: 70%;
  justify-content: flex-start;
  align-items: center;
}
.seller .seller-information .personal-information .contact .contact-btn {
  width: 200px;
  height: 50px;
  padding: 10px 30px 10px 30px;
  background: #cf4e6c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-left: auto;
  margin-top: auto;
}
.common {
  height: auto;
  min-height: 30em;
}
.common .title {
  width: 100%;
  display: flex;
  font-size: 2vw;
  color: #cf4e6c;
  font-weight: bold;
}
.common .item-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 400px;
  justify-content: space-around;
  align-items: center;
}
.common .item-group i {
  font-size: 3vw;
  color: #9e9e9e;
}
.common .item-group .item {
  width: 250px;
  height: 370px;
  box-shadow: -1px -1px 22px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 22px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 22px -10px rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.common .item-group .item .name {
  font-size: 1.5vw;
}
.common .item-group .item img {
  max-width: 200px;
  max-height: 200px;
}
.common .item-group .item .used {
  color: #d6dc1d;
  font-weight: bold;
  font-size: 1.1vw;
}
.common .item-group .item .price {
  font-size: 1.5vw;
}
.common .item-group .item i {
  font-size: 2.4vw;
  color: #cf4e6c;
}
.account-activity {
  margin-top: 20px;
}
.account-activity .activity-icon {
  display: flex;
  align-items: center;
  width: 50px;
}
.account-activity span > * {
  margin-left: 10px;
}
.account-activity span {
  width: 100%;
}
@media screen and (max-width: 1250px) {
  .general-info {
    align-items: center;
  }
  .general-info .product-image img {
    max-width: 400px;
    max-height: 400px;
  }
  .general-info .product-general-information .quantity-input {
    width: 80%;
  }
  .seller .seller-information {
    padding: 0;
    font-size: 1.4vw;
  }
  .common .item-group .item {
    width: 160px;
    height: 300px;
  }
  .common .item-group .item img {
    max-width: 130px;
    max-height: 130px;
  }
}
@media screen and (max-width: 1250px) {
  .common .item-group .item:nth-last-child(2) {
    display: none;
  }
  .common .item-group .item {
    width: 200px;
    height: 330px;
  }
  .common .item-group .item .name {
    font-size: 1.9vw;
  }
  .common .item-group .item .used {
    font-size: 1.4vw;
  }
  .common .item-group .item .price {
    font-size: 2.3vw;
  }
}
@media screen and (max-width: 1024px) {
  .product {
    padding-top: 0;
  }
  .general-info .product-general-information .product-price {
    font-size: 3.5vw;
  }
  .seller .seller-information {
    font-size: 1.8vw;
  }
  .general-info .product-general-information .icons-group .item {
    font-size: 2vw;
  }
  .general-info .product-general-information .buy-product-button {
    width: 90%;
  }
  .seller .seller-information .account-information {
    padding: 0 40px 0 40px;
    font-size: 2.1vw;
  }
  .seller .seller-information .personal-information {
    padding: 10px 20px 10px 20px;
  }
  .seller .seller-information .personal-information .contact .contact-btn {
    width: 110px;
  }
  .seller .seller-information .personal-information .personal .data {
    width: 250px;
  }
  .seller .seller-information .personal-information .contact .data {
    width: 200px;
  }
  .common .item-group .item:nth-last-child(3) {
    display: none;
  }
  .common .item-group .item .name {
    font-size: 2.8vw;
  }
  .common .item-group .item .used {
    font-size: 2.3vw;
  }
  .common .item-group .item .price {
    font-size: 3vw;
  }
  .common .item-group .item i {
    font-size: 3.5vw;
  }
  .general-info .product-general-information .product-name .product-state {
    height: 50%;
  }
  .details .product-detailed-description b {
    font-size: 4vw;
  }
  .details .product-detailed-description p {
    font-size: 2vw;
    line-height: 1.9vw;
  }
  .details .product-details-group .detail-title {
    font-size: 4vw;
  }
  .details .product-details-group .tags .title {
    font-size: 4vw;
  }
  .account-activity .activity-icon {
    width: 30px;
  }
  .seller .seller-information .account-information i {
    font-size: 3vw;
  }
}
@media screen and (max-width: 480px) {
  .general-info {
    flex-direction: column;
  }
  .details .product-detailed-description b {
    font-size: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .general-info .product-image img {
    max-width: 300px;
    max-height: 300px;
  }
  .details .product-detailed-description p {
    font-size: 4vw;
    line-height: 4vw;
  }
  .general-info .product-general-information {
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }
  .general-info .product-general-information .product-name .product-state {
    height: 50%;
  }
  .general-info .product-general-information .icons-group .item {
    font-size: 5vw;
  }
  .general-info .product-general-information .quantity-input {
    margin-right: auto;
  }
  .general-info .product-general-information .buy-product-button {
    margin-left: auto;
    margin-right: auto;
  }
  .details {
    flex-direction: column;
  }
  .details .product-detailed-description {
    width: 100%;
    padding: 0;
  }
  .details .product-details-group {
    margin-top: 50px;
    width: 100%;
    padding: 0;
  }
  .details .product-details-group .detail-title {
    font-size: 10vw;
    text-align: center;
  }
  .details .product-details-group .tags .title {
    font-size: 10vw;
    text-align: center;
  }
  .details .product-details-group .tags {
    padding: 0;
  }
  .details .product-details-group .tags .title {
    height: 40%;
  }
  .seller .seller-information {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .seller .avatar {
    width: 200px;
    height: 200px;
  }
  .seller .seller-name {
    height: 50px;
    font-size: 6vw;
  }
  .seller .seller-information .account-information {
    width: 100%;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5vw;
    height: auto;
  }
  .seller .seller-information .account-information .name {
    font-size: 5vw;
  }
  .seller .seller-information .account-information i {
    font-size: 5vw;
    padding-right: 10px;
  }
  .seller .seller-information .personal-information {
    font-size: 4vw;
    flex-direction: column;
    padding: 0;
    margin-top: 30px;
    width: 100%;
  }
  .general-info .product-general-information .buy-product-button {
    width: 100%;
  }
  .seller .seller-information .personal-information .contact .contact-btn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .common {
    width: 100%;
  }
  .common .item-group {
    overflow: hidden;
    overflow-x: auto;
    justify-content: flex-start;
    padding-left: 30px;
    scrollbar-width: none;
  }
  .common .item-group::-webkit-scrollbar {
    display: none;
  }
  .common .item-group .item:nth-last-child(3) {
    display: none;
  }
  .common .item-group .item {
    width: 150px;
    height: 250px;
    border-radius: 20px;
    margin-right: 15px;
  }
  .common .item-group i {
    display: none;
  }
  .common .title {
    font-size: 8vw;
  }
  .common .item-group .item .name {
    font-size: 4vw;
  }
  .common .item-group .item .used {
    font-size: 3.5vw;
  }
  .common .item-group .item .price {
    font-size: 6vw;
  }
  .general-info .product-general-information .product-price {
    font-size: 9vw;
  }
}
