$primary: #cf4e6c;
$secondary: #303744;
$additional: #9e9e9e;

.add-product-form {
  width: 100%;
  height: 100%;
  padding-left: 53px;
  padding-right: 53px;
  padding-top: 20px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  .heading {
    width: 100%;
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    color: $primary;
    padding-bottom: 2vw;
  }
  .basic-information {
    width: 40%;
    height: 20vw;
    -webkit-box-shadow: 0px 5px 24px -11px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 24px -11px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 24px -11px rgba(66, 68, 90, 1);
    display: flex;
    flex-direction: column;
    padding: 40px;
    h1 {
      font-size: 1.8vw;
      color: $primary;
    }
    .information-property {
      width: 60%;
      height: 40px;
      font-size: 1.3vw;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      .property-value {
        -webkit-box-shadow: 0px 0px 24px -7px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 24px -7px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 24px -7px rgba(66, 68, 90, 1);
        border-radius: 5px;
        width: 50%;
        height: 100%;
        input {
          width: 100%;
          height: 100%;
          font-size: 1.3vw;
          padding: 5px;
          border: 0;
        }
      }
    }
    .state-group {
      width: 100%;
      height: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: auto;
      margin-bottom: -120px;
      .state-item {
        width: 30%;
        height: 100%;
        color: #fff;
        font-size: 1.6vw;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: #cf4e6c;
      }
      .state-item:hover{
        transform: translateY(-20px);
        transition: transform 0.2s linear;
      }
      .state-item::after {
        width: 100%;
        height: 100%;
        background: #a7344f;
      }
    }
  }
  .photos {
    width: 50%;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    i {
      font-size: 13vw;
      margin-left: 30px;
      color: $additional;
      cursor: pointer;
    }
    .images-group {
      width: 100%;
      display: flex;
    }
    .photo {
      img {
        max-width: 200px;
        max-height: 200px;
        margin-left: 30px;
      }
    }
  }
  .description {
    margin-top: 30px;
    width: 40%;
    height: auto;
    -webkit-box-shadow: 0px 5px 24px -11px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 24px -11px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 24px -11px rgba(66, 68, 90, 1);
    display: flex;
    flex-direction: column;
    padding: 40px;
    h1 {
      font-size: 1.8vw;
      color: $primary;
    }
    p {
      textarea {
        font-size: 1.5vw;
        width: 100%;
        height: 25vw;
        resize: none;
        border: 0;
        font-weight: 500;
      }
    }
  }
  .delivery {
    margin-top: 30px;
    width: 50%;
    height: 50vw;
    -webkit-box-shadow: 0px 5px 24px -11px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 24px -11px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 24px -11px rgba(66, 68, 90, 1);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    h1 {
      padding: 30px;
      font-size: 1.8vw;
      color: $primary;
    }
    .variant {
      width: 100%;
      height: 25%;
      background: $primary;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px;
      flex-direction: row;
      border: 1px solid #fff;
      cursor: pointer;
      i {
        font-size: 6vw;
      }
      .info {
        display: flex;
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          font-size: 2.3vw;
          text-align: left;
          font-weight: bold;
        }
        p {
          padding: 10px;
          font-size: 1.7vw;
          text-align: left;
        }
      }
    }
    .variant-unselected {
      background: #FFF !important;
      color: $secondary !important;
    }
    .shipping-cost {
      height: 10%;
      width: 100%;
      color: $secondary;
      display: flex;
      font-size: 1.2vw;
      align-items: center;
      justify-content: flex-end;
      font-weight: bold;
      -webkit-box-shadow: 0px 5px 24px -17px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0px 5px 24px -17px rgba(66, 68, 90, 1);
      box-shadow: 0px 5px 24px -17px rgba(66, 68, 90, 1);
      margin-top: auto;
      i {
        width: 100px;
        color: $primary;
        font-size: 2vw;
        text-align: center;
      }
    }
  }
  .parameters {
    margin-top: 30px;
    width: 40%;
    height: auto;
    -webkit-box-shadow: 0px 5px 24px -11px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 24px -11px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 24px -11px rgba(66, 68, 90, 1);
    display: flex;
    flex-direction: column;
    padding: 40px;
    h1 {
      font-size: 1.8vw;
      color: $primary;
      margin-top: 30px;
    }
    i{
      width: 5%;
      color: $primary;
      font-size: 2.5vw;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p{
      margin-top: 10px;
      font-size: 1vw;
      span{
        color: $additional;
      }
    }
    .tag-group{
      width: 100%;
      height: auto;
      display: flex;
      .tag{
        height: 40px;
        font-size: 1vw;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        font-weight: bold;
        margin-left: 10px;
        padding: 5px 15px 5px 15px;
      }
    }
    .parameter-box-group {
      margin-top: 20px;
      width: 100%;
      height: 100px;
      display: flex;
      gap: 30px;
      .parameter-box {
        width: 40%;
        display: flex;
        flex-direction: column;
        h1{
          text-align: left;
        }
        input {
          -webkit-box-shadow: 0px 0px 24px -7px rgba(66, 68, 90, 1);
          -moz-box-shadow: 0px 0px 24px -7px rgba(66, 68, 90, 1);
          box-shadow: 0px 0px 24px -7px rgba(66, 68, 90, 1);
          width: 100%;
          height: 50%;
          border: 0;
          font-size: 1.5vw;
        }
      }
    }
  }
  .overview {
    margin-top: 30px;
    width: 50%;
    height: 50vw;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    h1 {
      font-size: 1.8vw;
      color: $primary;
      margin-top: 30px;
    }
    .points{
      width: 100%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      font-weight: bold;
      background-color: $primary;
      font-size: 3.5vw;
      text-align: center;
    }
    .priority{
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $secondary;
      font-weight: bold;
      background-color: #FFF;
      font-size: 2.5vw;
      text-align: center;
    }
    .sell-btn{
      width: 50%;
      height: auto;
      font-size: 3.5vw;
      color: #FFF;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      padding: 10px 30px 10px 30px;
      cursor: pointer;
      background: #cf4e6c;
      margin-left: auto;
      margin-top: auto;
      margin-right: auto;
    }
  }
}
@media screen and (max-width: 1024px){
  .add-product-form{
    .heading{
      font-size: 5vw;
    }
    .basic-information{
      width: 100%;
      height: 50vw;
      h1{
        font-size: 3.5vw;
      }
      .information-property{
        font-size: 3vw;
        height: 50px;
      }
      .state-group{
        .state-item{
          font-size: 3vw;
        }
      }
    }
    .photos{
      width: 100%;
      margin-top: 100px;
      height: auto;
      i{
        font-size: 30vw;
      }
    }
    .description{
      width: 100%;
      h1{
        font-size: 3.5vw;
      }
      p{
        textarea{
          font-size: 3vw;
        }
      }
    }
    .delivery{
      width: 100%;
      height: 100vw;
      h1{
        font-size: 3.5vw;
      }
      .variant{
        i{
          font-size: 10vw;
        }
        .info{
          h3{
            font-size: 3.5vw;
          }
          p{
            font-size: 3vw;
          }
        }
      }
      .shipping-cost{
        font-size: 2.5vw;
        i{
          font-size: 4vw;
        }
      }
    }
    .parameters{
      width: 100%;
      h1{
        font-size: 3.5vw;
      }
      i{
        font-size: 5vw;
      }
      p{
        font-size: 3vw;
      }
      .tag-group{
        .tag{
          font-size: 3vw;
        }
      }
    }
    .overview{
      width: 100%;
      height: 65vw;
      h1{
        font-size: 3.5vw;
      }
      .priority{
        font-size: 4vw;
        padding: 0 50px 0 50px;
      }
    }
  }
  @media screen and (max-width: 480px){
    .add-product-form{
      padding-left: 30px;
      padding-right: 30px;
      .heading{
        font-size: 7vw;
      }
      .basic-information{
        height: 100vw;
        h1{
          font-size: 6vw;
          text-align: center;
        }
        .information-property{
          font-size: 5vw;
          width: 100%;
          flex-direction: column;
          height: 60px;
          .property-name{
            text-align: center;
            font-size: 5vw;
          }
          .property-value{
            width: 100%;
            height: 200px;
          }
        }
        .state-group{
          margin-bottom: -100px;
          height: 25%;
          .state-item{
            font-size: 3vw;
          }
        }
      }
      .photos{
        i{
          font-size: 40vw;
        }
        .images-group{
          overflow: auto;
          .photo{
            img{
              max-width: 100px;
              max-height: 100px;
            }
          }
        }
      }
      .description{
        h1{
          font-size: 6vw;
          text-align: center;
        }
        p{
          textarea{
            font-size: 5vw;
          }
        }
      }
      .delivery{
        height: 200vw;
        h1{
          font-size: 6vw;
          text-align: center;
        }
        .variant{
          padding: 30px 10px 30px 10px;
          i{
            font-size: 15vw;
          }
          .info{
            h3{
              font-size: 5vw;
              padding: 10px;
            }
            p{
              padding: 10px;
              font-size: 4vw;
            }
          }
        }
        .shipping-cost{
          font-size: 3vw;
          i{
            font-size: 6vw;
          }
        }
      }
      .parameters{
        h1{
          font-size: 6vw;
          text-align: center;
        }
        i{
          margin-left: auto;
          margin-right: auto;
          font-size: 15vw;
        }
        p{
          font-size: 5vw;
        }
        .tag-group{
          gap: 10px;
          flex-wrap: wrap;
          .tag{
            margin: 0;
          }
        }
        .parameter-box-group{
          flex-direction: column;
          height: auto;
          .parameter-box{
            height: auto;
            width: 100%;
            text-align: center;
            input{
              height: 40px;
              width: 100%;
            }
          }
        }
      }
      .overview{
        height: 150vw;
        h1{
          font-size: 6vw;
          text-align: center;
        }
        .points{
          font-size: 6vw;
        }
        .priority{
          font-size: 6vw;
        }
        .sell-btn{
          width: 80%;
          height: 10%;
          font-size: 5vw;
        }
      }
    }
  }
}